<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Center Events</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
    <h1>Conference Center Events</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>Event Category</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Corporate Events</td>
                <td><button onclick="window.location.href='/corporateEvents'">Click here</button></td>
            </tr>
            <tr>
                <td>Workshops</td>
                <td><button onclick="window.location.href='/workshops'">Click here</button></td>
            </tr>
            <tr>
                <td>Weddings</td>
                <td><button onclick="window.location.href='/weddings'">Click here</button></td>
            </tr>
            <tr>
                <td>Parties</td>
                <td><button onclick="window.location.href='/parties'">Click here</button></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>