<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parties</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Parties</h1>
    <form action="/partiesForm" method="post">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id"><br><br>

        <label for="partyType">Party Type:</label>
        <input type="text" id="partyType" name="partyType"><br><br>

        <label for="hostName">Host Name:</label>
        <input type="text" id="hostName" name="hostName"><br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br><br>

        <label for="venue">Venue:</label>
        <input type="text" id="venue" name="venue"><br><br>

        <label for="numberOfGuests">Number of Guests:</label>
        <input type="number" id="numberOfGuests" name="numberOfGuests"><br><br>

        <label for="entertainmentOptions">Entertainment Options:</label>
        <textarea id="entertainmentOptions" name="entertainmentOptions" rows="5" cols="30"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
    <button><a href="/">home</a></button>
</body>
</html>