<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weddings</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Weddings</h1>
    <form action="/weddingsForm" method="post">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id"><br><br>

        <label for="couplesName">Couple's Name:</label>
        <input type="text" id="couplesName" name="couplesName"><br><br>

        <label for="weddingDate">Wedding Date:</label>
        <input type="date" id="weddingDate" name="weddingDate"><br><br>

        <label for="venue">Venue:</label>
        <input type="text" id="venue" name="venue"><br><br>

        <label for="guestCount">Guest Count:</label>
        <input type="number" id="guestCount" name="guestCount"><br><br>

        <label for="theme">Theme:</label>
        <input type="text" id="theme" name="theme"><br><br>

        <label for="cateringPreferences">Catering Preferences:</label>
        <textarea id="cateringPreferences" name="cateringPreferences" rows="5" cols="30"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
    <button><a href="/">home</a></button>
</body>
</html>